<div class="" align="center">
	<h1>Félicitations ! C'était la dernière énigme !</h1>
	<h6>
		Bravo à vous d’être arrivé jusque là, d’avoir résolu nos énigmes débiles et d’avoir supporté notre humour approximatif. <br>
		On rapelle que tout ça c'est qu'une grosse blague de mauvais goût parodique et on espère que ça vous a bien occupé
		pendant cette période !<br>
		
		Des bisous avec distance de sécurité ! Portez vous bien.
	</h6>
</div>
<canvas id="my-canvas" style="position: fixed;top: 0;left: 0;height: 100%;width: 100%;"></canvas>

<script src="lib/confetti-js/dist/index.min.js"></script>
<script src="js/confetti.js"></script>
