<div class="" align="center">
	<h1>Félicitations !</h1>
	<h6>J'espère que vous ne m'avez pas pris au mot. Vous êtes engagés !
	Prochainement je vous recevrez la date de votre premier jour au Bureau des Enigmes.<br>
	Je vous présenterai à toute l'équipe, ils seront ravis de vous rencontrer.<br>Vous n'oublierez pas d'amener avec vous votre perpicacité, votre sens de la déduction et surtout votre déjeuner.
	<br>Je commence dès maintenant à ranger mes affaires, je vais enfin pouvoir profiter de ma retraite.</h6>
</div>
<canvas id="my-canvas" style="position: fixed;top: 0;left: 0;height: 100%;width: 100%;"></canvas>

<script src="lib/confetti-js/dist/index.min.js"></script>
<script src="js/confetti.js"></script>
