<div class="" align="center">
	<h1>Félicitations !</h1>
	<h6>Vous êtes engagés !
	Prochainement, vous recevrez la date de votre premier jour au Bureau des Enigmes. Les relations entreprises vous enverront votre contrat de travail. <br>
	Comme je vous l’ai déjà dit, ce n’était que des épreuves élémentaires, je compte sur vous pour continuer mon travail. Je vous présenterai à toute l'équipe, ils sont impatients de vous rencontrer.<br>Vous n'oublierez pas d'amener avec vous votre perspicacité, votre sens de la déduction et surtout votre créativité.
	<br>Je commence dès maintenant à ranger mes affaires, je vais enfin pouvoir profiter de ma retraite !</h6>
</div>
<canvas id="my-canvas" style="position: fixed;top: 0;left: 0;height: 100%;width: 100%;"></canvas>

<script src="lib/confetti-js/dist/index.min.js"></script>
<script src="js/confetti.js"></script>
