<form name="sendrep" id="repfrom" onsubmit="event.preventDefault(); sendRep();" style="display:none;">
	<input type="text" id="evalequation" name="name" required size="20">
</form>
<div id="success"></div>
<button onclick="sendRep();" id="sendMessageButton">envoyer</button>
