<form name="sendrep" id="repfrom" onsubmit="event.preventDefault(); sendRep();" class="arg-form">
	<label>reponse </label>
	<input type="text" id="flag" name="name" required size="20"><br />
	<div id="success"></div>
	<button type="submit" class="" id="sendMessageButton">envoyer</button>
</form>
