<div>
	<h1>{{name}}</h1>

	<p>
		{{enigma_text}}
	</p>

	<form name="sendrep" id="repfrom" onsubmit="event.preventDefault(); sendRep();">
		<label>Latitude </label>
		<input id='Latitude' type=number step=any /><br />
		<label>Longitude </label>
		<input id='Longitude' type=number step=any /><br />
		<div id="success"></div>
		<button type="submit" class="" id="sendMessageButton">envoyer</button>
	</form>
</div>
