<!-- Modal -->
<div class="modal fade arg-form" id="winningModal" tabindex="-1" role="dialog" aria-labelledby="winningModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content  arg-card">
			<div class="modal-header">
				<h5 class="modal-title" id="winningModalLabel"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true" style="color: white;">&times;</span>
				</button>
			</div>
			<div class="modal-body" >
				<div id="modaltext">

				</div>
				<span id="nextstep"></span>
				<br/><br/>
				<div class="alert alert-warning" role="alert">
					<strong>Warning!</strong> Save the URL for latter use.
				</div>


				<h6><b>For posterity's sake :</b></h6>
				<div class="form-group" id="formwinner">
					<label for="recipient-name" class="col-form-label">Your/Team name</label>
					<input type="text" class="form-control" id="winnername" required>
					<input type="text" class="form-control" id="idunique" style="display: none;">
				</div>
				<div id="winnersuccess"></div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary" id="sendWinnerbtn" onclick="sendWinnerName();">Send</button>
			</div>
		</div>
	</div>
</div>
