<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

		<link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
		<link rel='stylesheet' href='/css/style.css' />

	{{#if custom_css}}
		<link href="/css/custom/{{custom_css}}" rel="stylesheet">
	{{/if}}



	<script  src="lib/jquery/jquery.min.js"></script>
	<script  src="lib/bootstrap/js/bootstrap.min.js"></script>


	{{#if custom_js}}
		<script  src="js/custom/{{custom_js}}"></script>
	{{/if}}

	{{#if useAntiDebug}}
		<script  src="js/antiDebug.js"></script>
	{{/if}}
	<script type="text/javascript" src="js/send.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
