<!DOCTYPE html>
<html>
<head>
	<title>CORRUPTED DATA LOG</title>

	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script defer src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script defer src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

	<link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
	<link rel='stylesheet' href='/css/style.css' />
</head>
<body>
	<div class="arg-card">
		<p>
			р░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќрџ░рџ▒р░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░ЌрЏЏ№┐йрехрехрЏЦръќрБЋрДћрехрЏќрЏЇрехрФИ76р░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр│ЄрђфЯйє├ќ─ЦE':7р░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќ8─Ц5р░Ќр░Ќр░Ќр░Ќр░Ќ№┐й
			р░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќ№┐йр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќ№┐й№┐й№┐й№┐йр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќ CORRUPTED DATA LOG р░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќ№┐й№┐йр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░Ќр░ЌрЏЏ№┐йрех
		</p>
	</div>
</body>
</html>
