body {
  padding: 50px;
	background-color: black;
  font: 14px 'Share Tech Mono', monospace;
  color : #00e50b;
}

button {
	color : #00e50b;
	background-color: transparent;
	border : solid 3px #00e50b;
}

.arg-form input[type=text] {
	color : #00e50b;
	background-color: transparent;
	border : solid 3px #00e50b;
}

.arg-form input[type=number] {
	color : #00e50b;
	background-color: transparent;
	border : solid 3px #00e50b;
}

.arg-form button[type=submit] {
	color : #00e50b;
	background-color: transparent;
	border : solid 3px #00e50b;
}

.arg-card {
	border : solid 3px #00e50b;
	padding : 2%;
}

.arg-std-txt {
	font-size: 1.5em;
}
