body {
  padding: 50px;
	background-color: black;
  font: 14px 'Share Tech Mono', monospace;
  color : #00e50b;
}

button {
	color : #00e50b;
	background-color: transparent;
	border : solid 3px #00e50b;
}

label
{
	width: 100px;
}

.arg-form input[type=text],
.arg-form input[type=number]{
	color : #00e50b;
	background-color: transparent;
	border : solid 3px #00e50b;
}

.arg-form input[type=number] {
	color : #00e50b;
	background-color: transparent;
	border : solid 3px #00e50b;
}

.arg-form button[type=submit] {
	color : #00e50b;
	background-color: transparent;
	border : solid 3px #00e50b;
	border-radius: initial;
}

.arg-card {
	border : solid 3px #00e50b;
	padding : 2%;
}

.arg-std-txt {
	font-size: 1.5em;
}


.modal-content{
	background-color: black;
	border-radius: initial;
}

.modal-header{
	border-bottom: 1px solid #00e50b;
}

.modal-footer{
	border-top: 1px solid #00e50b;
}


a, a:link, a:hover, a:active,a:visited {
	color: #00e50b;
}

#modaltext{
	text-align: justify;
}

#startlink{
	-webkit-animation: color-change 1s infinite;
	-moz-animation: color-change 1s infinite;
	-o-animation: color-change 1s infinite;
	-ms-animation: color-change 1s infinite;
	animation: color-change 1s infinite;
}

.watchme {
	-webkit-animation: color-change2 0.5s infinite;
	-moz-animation: color-change2 0.5s infinite;
	-o-animation: color-change2 0.5s infinite;
	-ms-animation: color-change2 0.5s infinite;
	animation: color-change2 0.5s infinite;
}

@-webkit-keyframes color-change2 {
	0% { color: #00e50b; }
	50% { color: #99ff9e; }
	100% { color: #00e50b; }
}
@-moz-keyframes color-change2 {
	0% { color: #00e50b; }
	50% { color: #99ff9e; }
	100% { color: #00e50b; }
}
@-ms-keyframes color-change2 {
	0% { color: #00e50b; }
	50% { color: #99ff9e; }
	100% { color: #00e50b; }
}
@-o-keyframes color-change2 {
	0% { color: #00e50b; }
	50% { color: #99ff9e; }
	100% { color: #00e50b; }
}
@keyframes color-change2 {
	0% { color: #00e50b; }
	50% { color: #99ff9e; }
	100% { color: #00e50b; }
}








@-webkit-keyframes color-change {
	0% { color: #00e50b; }
	50% { color: #66ff6e; }
	100% { color: #00e50b; }
}
@-moz-keyframes color-change {
	0% { color: #00e50b; }
	50% { color: #66ff6e; }
	100% { color: #00e50b; }
}
@-ms-keyframes color-change {
	0% { color: #00e50b; }
	50% { color: #66ff6e; }
	100% { color: #00e50b; }
}
@-o-keyframes color-change {
	0% { color: #00e50b; }
	50% { color: #66ff6e; }
	100% { color: #00e50b; }
}
@keyframes color-change {
	0% { color: #00e50b; }
	50% { color: #66ff6e; }
	100% { color: #00e50b; }
}
