<div class="arg-card">
	<h1>{{name}}</h1>

	<p>
		{{{enigma_text}}}
	</p>

	<iframe class="arg-card" width="420"  style="padding: 0;" height="315" src="https://www.youtube.com/embed/Z7hwXYvaJKM?autoplay=1" allowfullscreen>
	</iframe>
	<br>
	<br>

{{#if hint}}
{{> hint}}
{{/if}}
<br>
{{> form_flag}}

{{> modal}}
</div>
