<div id="coucou" class="arg-card">
	<h1>{{name}}</h1>

	<p>
		{{enigma_text}}
	</p>
	<img src="https://lescreasdetiti.fr/52303-large_default/motif-thermocollant-point-d-interrogation.jpg" id="coucouphoto"  alt="">



	<div id="coucouphotomodal" class="coucoumodal">
		<span class="coucouclose">&times;</span>
		<img class="coucoumodal-content" id="coucouphoto1">
	</div>
	{{#if hint}}
	{{> hint}}
	{{/if}}
	{{> form_geo}}
	{{> modal}}
</div>
